body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Varela Round', sans-serif;
    overflow-x: hidden;
    margin: 0;
}
.top{
    display: flex;
    margin-left: 100px;
    margin-top: 30px;

    
    
}
.preebook{
    display: flex;
    margin-top: 140px;
    width: 200%;
}
.dashboard{
    margin-top: 30px;
    margin-left:950px;
}
.top a{
    margin-left:15px ;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 10px 10px;
}
.journey a{
    text-decoration: none;
    color: white;
    background-color:#E02C6D;
    padding: 5px;
    border-radius: 15px;
}
.journey{
    margin-left: 100px;
}
.journey h1{
    font-size:2.5em;
}
.dslr{
    margin-left: 200px;  
}
.dslr img{
    width: 380px;
}
.order-from{
    margin-left: 135px;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
}
.order-from img{
    margin-left: 100px;
}
.camera img{
    width: 200px;
    height: 150px;
}
.popular{
    margin-top: 100px;
}
.products{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    width: 329px;
    margin-left: 550px;
    margin-top:30px;
}
.product{
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.267);
    border-radius: 5px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.popular{
    text-align: center;
}
.reviews{
    display:flex;
    align-items: center;
    margin-left: 10px;
}
.reviews a{
    color: #FB8200;
    font-size: small;
}
.more a{
    text-decoration: none;
    color:#E02C6DDE;
}
.more{
    margin-top: 20px;
    margin-left: 650px;
}
.featured{
    display: flex;
    margin-left: 100px;
    margin-top: 100px;
}
.photoshoot img{
    width: 350px;
    /* width: 404px;
    height: 270px; */
}
.set a{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 10px 20px;
}
.set{
    margin-left: 96px;
    width: 501px;
    height: 88px;
}

.copyright{
    color: white;
    text-align: center;
    margin-top: 200px;
    background-color: rgba(0, 0, 0, 0.903);
    height:200px;
    padding-top: 30px;
}
.filled{
    margin-left: 10px;
}
.footer{
    height: 00px;
}
